name: Deploy static website to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: coffeShopApp
        publish-profile: ${{secrets.<publishData><publishProfile profileName="coffeShopApp - Web Deploy" publishMethod="MSDeploy" publishUrl="coffeshopapp-gddzhceudfcsguac.scm.southeastasia-01.azurewebsites.net:443" msdeploySite="coffeShopApp" userName="$coffeShopApp" userPWD="xzA52HLCjdS7QZYycEw62MDhFFRPpbSGBDnMfQexr1MHWgYtzyLgMfki18Pt" destinationAppUrl="https://coffeshopapp-gddzhceudfcsguac.southeastasia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="coffeShopApp - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-sg1-115.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="coffeShopApp\$coffeShopApp" userPWD="xzA52HLCjdS7QZYycEw62MDhFFRPpbSGBDnMfQexr1MHWgYtzyLgMfki18Pt" destinationAppUrl="https://coffeshopapp-gddzhceudfcsguac.southeastasia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="coffeShopApp - Zip Deploy" publishMethod="ZipDeploy" publishUrl="coffeshopapp-gddzhceudfcsguac.scm.southeastasia-01.azurewebsites.net:443" userName="$coffeShopApp" userPWD="xzA52HLCjdS7QZYycEw62MDhFFRPpbSGBDnMfQexr1MHWgYtzyLgMfki18Pt" destinationAppUrl="https://coffeshopapp-gddzhceudfcsguac.southeastasia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>}}
        
        package: .
